<div id="<%= dom_id shopping %>">
  <p>
    <strong>Name:</strong>
    <%= shopping.name %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= shopping.adress %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= shopping.cnpj %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= shopping.phone %>
  </p>

</div>
